<div class="container my-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @for (producto of productosService.productos(); track producto.id) {
            @if(storageService.getList().includes(convertir(producto.id))){
                <app-producto
                title={{producto.title}}
                image={{producto.image}}
                price={{producto.price}}
                id={{producto.id}}  
            />
            }
        }@empty {
            <p>Buscando...</p>
        }
    </div>
</div>